* {
  margin: 0px;
  padding: 0px;
}
a {
  color: black;
  text-decoration: none;
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.header-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.logo-container {
  width: 70px;
  height: 50px;
}
.logo {
  width: 100%;
  height: 100%;
}
.nav-container {
  /* background-color: rgb(0, 255, 255); */
  width: 40%;
  border-radius: 20px;
}
.nav-items {
  justify-content: space-around;
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.cart-items {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #1be428;
  color: #fff;
  text-align: center;
  margin-right: 5px;
}
.main-conatiner {
  width: 70%;
  margin: auto;
}
.seach-container {
  padding: 10px;
}

.widget-img {
  height: 150px;
  width: 150px;
}

.resturent-cantainer {
  flex-wrap: wrap;
  display: flex;
}

.top-resturent-card {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  margin-right: 30px;
}

.top-product-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60%;
  border-radius: 10px;
}
.image::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(39, 38, 42, 1) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
}

.image__text {
  font-size: 1.5rem;
  position: absolute;
  bottom: 10%;
  color: #fff;
  left: 2%;
  font-weight: bolder;
  z-index: 3;
  width: 80%;
}

.resturent-card {
  width: 200px;
  height: 270px;
  border-radius: 10px;
}
.product-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.product-details {
  width: 90%;
  height: 50%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.product-name {
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.rating-container {
  align-items: center;
  height: 20px;
  display: flex;
}
.rating-img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.bold-heading {
  font-size: 28px;
  font-weight: bolder;
  font-family:'Lucida Sans';
  line-height: 28px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.normal-text {
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 10px;
  white-space: nowrap;
  overflow: hidden;
  margin: 6px;
}

.shimer-container {
  display: flex;
  flex-wrap: wrap;
}
.main-shimer-container {
  width: 100%;
}
.looking-shimer {
  background-color: #000000;
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.loder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.looking-text {
  color: #fff;
  font-weight: bold;
}
.shimer-card {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  margin: 30px;
  border: 1px solid #edebeb;
}

.shimer-img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  background-color: #edebeb;
  margin-bottom: 20px;
}

.shimer-text {
  width: 90%;
  height: 18px;
  margin: 5px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #edebeb;
}

.resturnt-menu-container {
  width: 70%;
  margin: auto;
}
.resturent-details-container {
  border: 20px solid #edebeb;
  border-top: 20px solid #fff;
  border-radius: 10px;
}
.border {
  border: 1px solid #edebeb;
  padding: 10px;
}
.resturent-text {
  font-family: Gilroy_Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.92);
}
.cuisines-text {
  font-family: Gilroy_Bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.1px;
  color: rgb(255, 82, 0);
}

.offer-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.offer-items {
  border: 1px solid black;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.offer-image-container{
  width: 50px;
  height: 50px;
}
.offer-text{
  margin-left: 20px;
}
.menu-container {
  margin-bottom: 20px;
}
.grey{
  background-color: #ccc;
}
.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}
.white-background {
  background-color: #fff;
  border-bottom: 0.2px solid rgb(194, 194, 194);
}
.down-arrow {
  height: 20px;
  width: 20px;
}

.heading-text {
  font-size: 18px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* .menu-item-card{
    display: flex;
    
} */

.menu-item-img {
  height: 180px;
  width: 150px;
  border-radius: 20px;
}

.break {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.image-cantainer {
  position: relative;
}
.image-cantainer .btn {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: rgb(30, 222, 30);
  font-size: 16px;
  padding: 8px 20px;
  border: 0.2px solid grey;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
}

.product-list-container {
  width: 100%;
}
.shimer-product-container {
  width: 70%;
  margin: auto;
}
.shimmer-header {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #edebeb;
  background-color: #edebeb;
  border-radius: 10px;
}

.shimer-product-card {
  height: 420px;
  width: 400px;
  margin-left: 30pz;
  margin-right: 30px;
}
.shimer-product-img {
  height: 200px;
  width: 390px;
  margin: 10px;
  border-radius: 10px;
  background-color: #edebeb;
}
.shimer-product-text {
  height: 20px;
  width: 390px;
  margin: 10px;
  border-radius: 10px;
  background-color: #edebeb;
}

.user-info {
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.recomended-label {
  background-color: black;
  color: #fff;
  border-radius: 10px;
  line-height: 20px;
  padding: 5px;
  position: absolute;
  margin-left: 20px;
}

.grid-container {
  display: -moz-grid-line;
  gap: 50px 20px;
  columns: 4;
}
.app-link-container {
  background-color: lightgrey;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.app-link-container img {
  height: 60px;
  width: 190px;
}
.app-link {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-link p {
  width: 50%;
font-size: xx-large;}

.app-link-logo {
  width: 42%;
  display: flex;
  justify-content: space-between;
}
.footer-container {
  background-color: #000000;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.footer-heading {
  color: #fff;
}
.fotter-normal-text {
  color: lightgray;
  margin: 10px;
}
.footer-othercity {
  display: -ms-grid;
  columns: 4;
  background-color: #000000;
  row-gap: 50px;
  column-gap: 50px;
}
.footer-heading-other {
  color: #fff;
  background-color: #000000;
  padding-left: 7%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding: 5px */
}
.footer-othercity p {
  text-align: center;
  margin: 10px;
}

.search-main-container{
  width: 70%;
  margin: auto;
}

.seach-input{
  border: 1px solid lightgray;
  padding: 15px;
  color: #000000;
  width: 100%;
  border-radius: 5px;
  margin-top: 5%;
}

.polular-cusines{
  margin-top: 25px;
}
.seach-product-container{
  display: flex;
  align-items: center;
  padding: 10px;
}
.seach-product-container:hover{
background-color: #cdecee;
}
.seach-image-container{
  height: 80px;
  width: 80px;
  border-radius: 10px;
  margin-right: 15px;
}
.seach-image-container img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.seach-type-text{
  font-size: small;
  font-weight: 300;
  color: grey;
  margin-top: 8px;
}

.contact-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin: auto;
}

.contact-heading{
  width: 50%;
  margin: auto;
  padding: 20px;
}

.contact-input{
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 50%;
  margin: auto;
}